body {
  margin: 8px;
  background-color: #1d2224;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

canvas {
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 180px);
}

h1 {
  text-align: center;
}

p {
  margin: 5px 0 0;
}

p:last-child {
  font-style: italic;
}